body{
    background:#F9F6F0;
    color: black;
    font-size: medium;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
h3{
    text-align: center;
}
.outer-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-box{
    position: relative;
    display: flex;
    width: 420px;
    height: 390px;
    border: 2px solid black;
    padding:20px 20px 20px 20px;
    border-radius: 15px;
    background-color: white;
    flex-direction: column;
    justify-content: space-evenly;

}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.row_button{
    justify-content: space-around;
    position: relative;
    top:10px
}
.input{
    border: 1px solid black;
    border-radius: 4px;
}
.submit_btn,.reset_btn{
    width: 100px;
    height: 32px;
    border: 2px solid black;
    border-radius: 20px;
    font-family: Cambria;
    font-size:medium;
    background-color: #F9F6F0;
}
.submit_btn:hover,.reset_btn:hover{
    background-color:#07020D ;
    color:white;
    border: 2px solid white;
    border-radius: 20px;
}
.result{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media (max-width:430px){
    .form-box{
        width: 310px;
    }
    .outer-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        left:50px
    }
    .row-radio{
        display: flex;
        flex-direction: column;
    }
    .radio_label{
        text-align: center;
    }
    .result{
        align-items: start;
    }
    h1{
        font-size: 28px;
    }
}
@media (max-width:375px){
    .outer-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        left:65px;
    }
    .form-box{
        width:300px;
    }
    .input{
        width:140px
    }
    h1{
        font-size: 25px;
    }
    .result{
        align-items: start;
    }
}
@media(max-width:320px){
    .outer-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        left:80px;
    }
    .form-box{
        width:300px;
    }
}